body {
  background-color: #FFFFE8;
} 

h1 {
  text-align: center;
  font-size: 25px;
}

li {
  font-size: 25px;
  font-family: verdana;
  margin-left: 20px;
  margin-right:20px;
  text-align: justify;
} 

p {
  font-size: 17px; 
  font-family: verdana;
  margin-left: 20px;
  margin-right:20px;
  text-align: justify;
}
